<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>depart</key>
			<string>神经外科</string>
			<key>doctorid</key>
			<string>24671</string>
			<key>expert_id</key>
			<string>162</string>
			<key>goodat</key>
			<string>垂体瘤、颅内肿瘤、脊髓肿瘤、面积痉挛、三叉神经痛、颅脑损伤、颅底显微外科、小儿神经外科、小儿脊柱裂、脑血管畸形、颈动脉狭窄、脊髓血管病、脊柱裂、脊髓空洞症、脑积水、脑瘫、小儿脑积水、脑出血、脑膜瘤、胶质瘤等</string>
			<key>help_num</key>
			<string>20098</string>
			<key>hospital</key>
			<string>唐都医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>贾栋</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20140923/26497696a37e21832099b95cbdb44da057600_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>副主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>神经内科</string>
			<key>doctorid</key>
			<string>69254</string>
			<key>expert_id</key>
			<string>33165</string>
			<key>goodat</key>
			<string>脑血管病的诊治及神经病学。</string>
			<key>help_num</key>
			<string>16</string>
			<key>hospital</key>
			<string>内蒙古医学院附属医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>张国华</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20140905/f1ca48b3844abd20ebd8848a0aa9681413397_a.jpg</string>
			<key>teach</key>
			<string>副教授</string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>关节外科</string>
			<key>doctorid</key>
			<string>28098</string>
			<key>expert_id</key>
			<string>4750</string>
			<key>goodat</key>
			<string>骨关节疾病的诊断与治疗。</string>
			<key>help_num</key>
			<string>237</string>
			<key>hospital</key>
			<string>天津医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>任凯晶</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20140611/bd185012baaad9c21fe17a3e9ab1817e99940_a.jpg</string>
			<key>teach</key>
			<string></string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>肿瘤内科</string>
			<key>doctorid</key>
			<string>68563</string>
			<key>expert_id</key>
			<string>12360</string>
			<key>goodat</key>
			<string>骨肿瘤、肾癌、膀胱癌、乳腺癌、肺癌、多发性骨髓瘤</string>
			<key>help_num</key>
			<string>116</string>
			<key>hospital</key>
			<string>哈尔滨医科大学附属肿瘤医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>吴瑾</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20140617/f4d3d12d66c77775a1339a37cfa4089a42928_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>神经外科</string>
			<key>doctorid</key>
			<string>22103</string>
			<key>expert_id</key>
			<string>4239</string>
			<key>goodat</key>
			<string>在显微神经外科、脊髓脊柱外科的前沿研究和临床诊治领域有着扎实的基础，手术操作精细。</string>
			<key>help_num</key>
			<string>25957</string>
			<key>hospital</key>
			<string>唐都医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>李维新</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20141218/4d93512af31c4415f03e5aba6f5d1a4c19898_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>副主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>骨科</string>
			<key>doctorid</key>
			<string>48361</string>
			<key>expert_id</key>
			<string>1640</string>
			<key>goodat</key>
			<string>老年髋，膝骨性关节炎；强直性脊柱炎并双髋双膝强直；先天性髋臼发育不良；股骨头坏死；类风湿性关节炎晚期髋膝受累；化脓性关节炎；关节置换术后感染，松动;等疾病</string>
			<key>help_num</key>
			<string>39943</string>
			<key>hospital</key>
			<string>北京301医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>陈继营</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20150617/c610500f9920e81255cf06f9865a06576349_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>甲状腺头颈外科</string>
			<key>doctorid</key>
			<string>29414</string>
			<key>expert_id</key>
			<string>15985</string>
			<key>goodat</key>
			<string>甲状腺肿瘤、涎腺肿瘤、喉癌、鼻腔-副鼻窦肿瘤等的诊断与治疗。</string>
			<key>help_num</key>
			<string>293</string>
			<key>hospital</key>
			<string>河南省肿瘤医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>秦建武</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20140626/1419ca70bdc94af8d91503e4c567f3a560231_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>depart</key>
			<string>风湿免疫科</string>
			<key>doctorid</key>
			<string>45139</string>
			<key>expert_id</key>
			<string>17694</string>
			<key>goodat</key>
			<string>风湿性疾病包括类风湿关节炎、干燥综合征、系统性红斑狼疮、强直性脊柱炎等的诊断治疗以及热带病与寄生虫病的诊断治疗。</string>
			<key>help_num</key>
			<string>29248</string>
			<key>hospital</key>
			<string>北京大学人民医院</string>
			<key>level</key>
			<string>三级甲等</string>
			<key>name</key>
			<string>杨铁生</string>
			<key>photo</key>
			<string>http://static.i2.xywy.com/zhuanjia/20150728/acad1e37b306ecba5fcff2050df6904f59933_a.jpg</string>
			<key>teach</key>
			<string>教授</string>
			<key>title</key>
			<string>主任医师</string>
		</dict>
	</array>
</array>
</plist>
